.header {
  display: flex; }
  .header .header__toggleMenu img {
    height: 20px; }
  .header .header__logo img {
    height: 80px; }
  .header .header__sectionNav {
    display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  color: #535351; }
