header {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px; }
  header .header__toggleMenu {
    width: 40px; }
    header .header__toggleMenu img {
      height: 70px;
      margin-left: -60px; }
  header .header__logo img {
    height: 50px; }
  header .header__sectionNav {
    display: none; }
  header .header__sectionAyudanos {
    background-color: green;
    padding: 5px;
    border-radius: 5px; }
    header .header__sectionAyudanos a {
      color: white;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px; }
  header .whatsApp__chat {
    position: fixed;
    height: 70px;
    bottom: 20px;
    right: 20px; }

@media screen and (min-width: 730px) {
  header .header__toggleMenu {
    display: none; }
  header .header__sectionNav {
    display: contents; }
    header .header__sectionNav ul {
      display: flex;
      width: 40vw;
      justify-content: space-between; }
    header .header__sectionNav li a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.2rem; }
    header .header__sectionNav li a:hover {
      text-decoration: underline; } }

@media screen and (min-width: 945px) {
  header .header__sectionAyudanos a {
    font-size: 1.6rem; } }

footer {
  font-size: 1.6rem; }
  footer .footer__sectionInfo {
    display: flex;
    text-align: center;
    background-color: lightgrey;
    padding: 20px; }
    footer .footer__sectionInfo div {
      margin: 10px auto;
      width: 40vw; }
  footer .footer__sectionCR {
    padding: 7px;
    text-align: center;
    color: white;
    background-color: green; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  color: #535351; }

main .main__h1Index {
  height: 80vh;
  padding-top: 60vh;
  font-size: 5rem;
  line-height: 40px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: white;
  background-image: url("../assets/img/portadas/index.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

main .main__sectionCards {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 20px auto; }
  main .main__sectionCards article {
    margin: 15px 0;
    padding: 10px;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px #00000029; }
    main .main__sectionCards article h2 {
      text-transform: uppercase;
      color: green;
      text-align: center;
      padding-bottom: 8px;
      font-size: 1.8rem; }
    main .main__sectionCards article p {
      font-size: 1.8rem;
      text-align: center; }

main .main__sectionInfo {
  width: 80vw;
  margin: 20px auto; }
  main .main__sectionInfo .sectionInfo__text {
    margin: 15px 0; }
    main .main__sectionInfo .sectionInfo__text h2 {
      font-size: 1.8rem;
      font-family: "DM Sans", sans-serif;
      color: green;
      text-transform: uppercase;
      text-align: center; }
    main .main__sectionInfo .sectionInfo__text img {
      width: 80vw;
      margin: 10px 0; }
  main .main__sectionInfo .sectionInfo__form p {
    font-size: 1.8rem;
    font-family: "DM Sans", sans-serif;
    color: green;
    text-transform: uppercase;
    text-align: center; }
  main .main__sectionInfo .sectionInfo__form form {
    box-shadow: 0px 4px 8px 0px #00000029;
    border-radius: 9px;
    padding: 5px 0;
    margin: 10px auto; }
    main .main__sectionInfo .sectionInfo__form form div {
      margin: 10px; }
      main .main__sectionInfo .sectionInfo__form form div label {
        font-size: 1.4rem;
        margin: 10px; }

main .main__h1Conocenos {
  height: 80vh;
  padding-top: 60vh;
  font-size: 5rem;
  line-height: 40px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: white;
  background-image: url("../assets/img/portadas/quienesSomos.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

main .main__section {
  display: flex;
  flex-direction: column;
  width: 70vh;
  margin: 15px auto; }
  main .main__section div {
    padding: 10px 40px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    main .main__section div h2 {
      text-align: center;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: #1A8754;
      font-size: 1.8rem; }
    main .main__section div p {
      font-size: 1.8rem; }
  main .main__section img {
    width: 70vw;
    margin: 15px auto; }

@media screen and (min-width: 945px) {
  main .main__sectionCards {
    width: 90vw;
    flex-direction: row;
    flex-wrap: wrap; }
    main .main__sectionCards article {
      width: 45%;
      justify-content: space-around;
      margin: 20px auto; }
  main .main__sectionInfo .sectionInfo__text {
    display: flex;
    flex-direction: row;
    align-items: center; }
    main .main__sectionInfo .sectionInfo__text h2 {
      font-size: 2.4rem; }
    main .main__sectionInfo .sectionInfo__text img {
      width: 500px; }
  main .main__sectionInfo .sectionInfo__form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center; }
    main .main__sectionInfo .sectionInfo__form form {
      width: 50vw; }
    main .main__sectionInfo .sectionInfo__form p {
      width: 40vw;
      padding: 15px;
      font-size: 2.4rem; }
  main .main__section {
    flex-direction: row;
    width: 100vw;
    justify-content: space-between; }
    main .main__section img {
      width: 500px;
      margin-right: 0px; }
    main .main__section div {
      width: 400px; }
  main #main__section--2 {
    flex-direction: row-reverse;
    background: #0B59BF;
    color: white; }
    main #main__section--2 img {
      margin-left: 0px; } }
