@import "header";
@import "footer";

$dm: 'DM Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$green: #1A8754;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $raleway;
    color: #535351;
}

// INDEX ******************************************
main {
    .main__h1Index {
        height: 80vh;
        padding-top: 60vh;
        font-size: 5rem;
        line-height: 40px;
        font-family: $dm;
        text-align: center;
        color: white;
        background-image: url("../assets/img/portadas/index.jpg");
        background-size: cover;
        background-repeat: no-repeat;

    }

    .main__sectionCards {
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        
        
        article {
            margin: 15px 0;
            padding: 10px;
            border-radius: 9px;
            background-color: white;
            box-shadow: 0px 4px 8px 0px #00000029;

            h2 {
                text-transform: uppercase;
                color: green;
                text-align: center;
                padding-bottom: 8px;
                font-size: 2rem;
                
            }
    
            p {
                font-size: 1.8rem;
                text-align: center;
                
            }
        }

        
    }

    .main__sectionInfo {
        width: 80vw;
        margin: 20px auto;

        .sectionInfo__text {
            margin: 15px 0;

            h2 {
                font-size: 1.8rem;
                font-family: $dm;
                color: green;
                text-transform: uppercase;
                text-align: center;
            }

            img{
                width: 80vw;
                margin: 10px 0;
            }
            
        }
        
        .sectionInfo__form {
            p {
                font-size: 1.8rem;
                font-family: $dm;
                color: green;
                text-transform: uppercase;
                text-align: center;
            }

            form { 

                box-shadow: 0px 4px 8px 0px #00000029;            
                border-radius: 9px;
                // height: 300px;
                padding: 5px 0;
                margin: 10px auto;

                div {
                    // height: 30px;
                    margin: 10px;
                    
                    label {
                        font-size: 1.4rem;
                        margin: 10px;
                    }
                }
    


            }
            

            
        }

        
    }
} 

// CONOCENOS **************************************
main {
    .main__h1Conocenos {
        height: 80vh;
        padding-top: 60vh;
        font-size: 5rem;
        line-height: 40px;
        font-family: $dm;
        text-align: center;
        color: white;
        background-image: url("../assets/img/portadas/quienesSomos.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main__section {
        display: flex;
        flex-direction: column;
        width: 70vh;
        margin: 15px auto;

        div {
            padding: 10px 40px;
            border-radius: 9px;
            // box-shadow: 0px 4px 8px 0px #00000029;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            
            h2 {
                text-align: center;
                padding-bottom: 10px;
                text-transform: uppercase;
                color: #1A8754;
                font-size: 2rem;
            }

            p {
                font-size: 1.8rem;
            }

        }

        img {
            width: 70vw;
            margin: 15px auto;
        }
    }
}

// AYUDANOS ***************************************
main {
    .main__h1Ayudanos {
            height: 80vh;
            padding-top: 60vh;
            font-size: 5rem;
            line-height: 40px;
            font-family: $dm;
            text-align: center;
            color: white;
            background-image: url("../assets/img/portadas/comoAyudarnos.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        
    }

    .main__donaciones {
        width: 80vw;
        margin: 20px auto;
        text-align: center;
        
        h2 {
            padding-bottom: 10px;
            text-transform: uppercase;
            color: #1A8754;
            font-size: 2rem;
        }

        div {
            font-size: 1.8rem;
            
            a {
                width: 500px;
                margin: 0 10px;
                text-decoration: none;
                color: black;
                box-shadow: 0px 4px 8px 0px #00000029;
            }
        }

        p {
            font-size: 1.8rem;
            margin: 10px 0;
        }
    }
}



@media screen and (min-width:945px) {
// INDEX ******************************************

    main {
        .main__h1Index {
            height: 100vh;
            font-size: 6.5rem;
            line-height: 55px;
        }
        .main__sectionCards {
            width: 90vw;
            flex-direction: row;
            flex-wrap: wrap;
// me falta acomodar algo en las cards
            article {
                width: 45%;
                justify-content: space-around;
                margin: 20px auto;
            }
        }

        .main__sectionInfo {

            .sectionInfo__text {
                display: flex;
                flex-direction: row;
                align-items: center;

                h2 {
                    font-size: 2.4rem;
                }

                img {
                    width: 500px;
                }
            }

            .sectionInfo__form {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;

                form {
                    width: 50vw;
                }

                p {
                    width: 40vw;
                    padding: 15px;
                    font-size: 2.4rem;


                }
            }
        }
    };

// CONOCENOS **************************************

    main {
        .main__h1Conocenos {
            height: 100vh;
            font-size: 6.5rem;
        }

        .main__section {
            flex-direction: row;
            width: 100vw;
            justify-content: space-between;


            img {
                width: 500px;
                margin-right: 0px ;

            }

            div {
                width: 400px;

                p {

                }

                
            }
        };

        #main__section--2 {
            flex-direction: row-reverse;
            background: #0B59BF;
            color: white;

            img {
                margin-left: 0px;
            }
        }
    }

// FALTA MEJORAR EL DISENO DE LAS CARDS (sacar el shadow o lo que sea necesario)

// AYUDANOS ***************************************
    main {
        .main__h1Ayudanos {
            height: 100vh;
            font-size: 6.5rem;
        }
    }

}